@import "../_variables/Variables.scss";

nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  padding: 0.7rem 1.7rem;
  position: fixed;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  border-radius: 3rem;
  a {
    margin: 0.8rem;
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: $color-light;
    font-size: 1.1rem;
    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }
    &.active {
      background: $color-bg;
      color: $color-white;
    }
  }
}
